body{
    background: #000;
    color: #ffff;
    font-family: 'Courier New', Courier, monospace;
}

header{
    color: #fff;
    text-align: center;
  


}

section{
    background: #fff;
    width: 400px;
    border-radius: 20px;
    padding: 15px;
    color: #000;
   margin: 20px auto;
   box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.308);
   

}

footer{
    color: #fff;
    text-align: center;

}